In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [2]:
df = pd.read_csv(r"D:\Dig\00-imarticus\udemy_data\Smokers.csv")
df.head()

       Name Smokers
0  Person 1      No
1  Person 2      No
2  Person 3      No
3  Person 4     Yes
4  Person 5      No

In [3]:
df.shape

(100, 2)

In [4]:
smk = df.groupby('Smokers').count()
smk

         Name
Smokers
No         86
Yes        14

In [5]:
smk = smk.reindex(['Yes','No'])
smk

         Name
Smokers
Yes        14
No         86

<br>
____________________________________________________________________________________________________________________________


# Question 1:

Somking rate in a town in past was 21%, 100 samples were picked & found 10 smokers. Has smoking habbit changed? Test with 95% confidence level.


- Null Hypothesis (H0): P = Po


- Alternate Hypothesis (H1): P != Po


- Alpha = 1 - 0.95 = 0.05


- Z calculated = (Previous% - Present%) / √Present%(1 - Present%)/samples_size

            z = P - Po / √Po(1-Po)/n
            
            
**THIS IS A 2 TAIL TEST** so we will be looking 0.025 at extreme LEFT and 0.025 at RIGHT.

### Case 1: Has smoking habit changed

In [6]:
stats.binom_test(14, 100, p=0.21, alternative='two-sided')       # directly

0.1092081572082592

Now Compare P-Value with Alpha i.e 0.05.

- We notice that P-Value > Alpha, Therefore **FAIL TO REJECT** H0.

In [7]:
stats.binom_test(smk, p=0.21)          # smae as above but (using table)

array([0.10920816])

Now Compare P-Value with Alpha i.e 0.05.

- We notice that P-Value > Alpha, Therefore **FAIL TO REJECT** H0.

<br>
______________________________________________________________________________________________________________________________

# Question 2:

Somking rate in a town in past was 21%, 100 samples were picked & found 10 smokers. Has smoking habbit reduced? Test with 95% confidence level.


- Null Hypothesis (H0): P = Po


- Alternate Hypothesis (H1): P != Po


- Alpha = 1 - 0.95 = 0.05


- Z calculated = (Previous% - Present%) / √Present%(1 - Present%)/samples_size

            z = P - Po / √Po(1-Po)/n
            
            
**THIS IS A 1 TAIL TEST** so we will be looking 0.05 at extreme LEFT.

### Case 2: Has smoking reduced? Left tail test

In [8]:
stats.binom_test(14, 100, p=0.21, alternative='less')

0.0504246022155211

Now Compare P-Value with Alpha i.e 0.05.

- We notice that P-Value > Alpha, Therefore **FAIL TO REJECT** H0.

Using Normal Approximation we rejected the Null, but using Binomial we failed to reject.

In [9]:
stats.binom_test(smk, p=0.21, alternative='less')

array([0.0504246])

Now Compare P-Value with Alpha i.e 0.05.

- We notice that P-Value > Alpha, Therefore **FAIL TO REJECT** H0.

Using Normal Approximation we rejected the Null, but using Binomial we failed to reject.